#input h2 {
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
}
#input .inputs {
  width: 80%;
}
#input .form-control-wrapper {
  margin: 30px 0;
}
.app-holder {
  display: inline-flex;
}
.app-list-item {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 15px;
}
textarea {
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
  width: 25%;
}
form-control {
  margin: 30px 0;
}
#textareaDiv {
  width: 75%;
}
.appIcon{
  float:left;
}
img{
width: 75px;
height: 75px;
}
h1{
  font-size: 425%;
}
.title {
  display: inline-flex;
}
.title img {
  width: 175px;
  height: 125px;
}
.title h1 {
  font-size: 400%;
}
.title a{
  text-decoration: none;
  color: black;
}
.rating {
  margin-left: 60px;
  font-size: 150%;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
}
.dlbtn {
  margin-left: 15px;
  width: 100px;
}
.dlbtn i {
  font-size: 250%;
}

.seperator {
  width: 100%;
  height: 10%;
  margin-top: 10px;
}
.review{
   font-weight: 400;
}
.uL{
  line-style-type: none;
}