<<<<<<< HEAD
#input h2 {
  padding: 14px;
  font-size: 16px;
  font-weight: 400;
}
#input .inputs {
  width: 80%;
}
#input .form-control-wrapper {
  margin: 30px 0;
}
.app-holder {
  display: inline-flex;
}
.app-list-item {
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 15px;
}
=======
  	textarea {
      padding: 14px;
      font-size: 16px;
      font-weight: 400;
      width: 25%;
    }
	form-control {
      margin: 30px 0;
    }
    #textareaDiv {
    	width: 75%;
    }
    .appNameDisplay{


    }
>>>>>>> f18b2fbd02c8d6f05f6b4d37d4111ebdcd8b0a8b
